<div class="card-m2" id="comments-new">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label class="form-label">nickname</label>
                <input type="text" class="form-control" id="new-comment-nickname">
            </div>
            <div class="mb-3">
                <label class="form-label">comment</label>
                <textarea type="text" class="form-control" rows="3" id="new-comment-body"></textarea>
            </div>
            {{#article}}
                <input type="hidden" id="new-comment-article-id" value="{{id}}">
            {{/article}}
            <button type="button" class="btn btn-primary" id="comment-create-btn">register</button>
        </form>
    </div>
</div>

<script type="module" src="/js/main.js"></script>
